@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.input {
  width: 100%;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  padding: 12px 16px;
  outline: none;
}

.input:focus {
  border-color: #3b82f6;
}
.sidebar-scroll::-webkit-scrollbar { display: none; }
 .sidebar-scroll { -ms-overflow-style: none; scrollbar-width: none; }